.chat__side
  .chat__side__header
    %h5= current_user.name
    .chat__side__header__action
      = link_to new_group_path , class: "chat__side__header__action__pencil" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path, class: "chat__side__header__action__gear" do
        %i.fa.fa-cog
  %ul.chat__side__groups
    - current_user.groups.each do |user_group|
      %li.chat__side__groups__group
        = link_to  group_messages_path(user_group.id), class: "chat__side__groups__group" do
          %p.chat__side__groups__user= user_group.name
          %p.chat__side__groups__comment
